In [1]:
a = ["banana", "apple", "microsoft"]

In [4]:
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft

In [6]:
b = [20, 10, 5]
total = 0
for e in b:
    total = total + e
print(total)

35

In [1]:
# 1, 2, 3, 4
c = list(range(1, 6)) # not including 5
print(c)

[1, 2, 3, 4, 5]

In [9]:
total2 = 0
for i in range(1, 5):
    total2 += i
print(total2)

10

In [10]:
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [11]:
print(4 % 3)

1

In [12]:
print(5 % 3)

2

In [13]:
print(1 % 3)

1

In [14]:
print(6 % 3) # reminder is 6

0

In [15]:
total3 = 0
for i in range(1, 8):
    if i % 3 == 0:
        total3 += i
print(total3)

9

In [8]:
# Can you compute all multiples of 3, 5
# that are less than 100?
print(list(range(1, 30)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [10]:
for i in range(1, 31):
    if i % 3 == 0:
        print(i)
    elif i % 5 == 0:
        print(i)

3
5
6
9
10
12
15
18
20
21
24
25
27
30